h1.titulo{
    text-align: center;
    margin: 10px;
}
.gif {
    position: relative;
}
.gif img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gif h4{
    position: absolute;
    color: white;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 12px;
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .imagen{
        width: 60%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px){
    .imagen{
        width: 50%;
    }
}

@media (min-width: 1280px){
    .imagen{
        width: 500px;
        height: 300px;
    }
}